fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.4
pydantic-settings==2.3.4
sqlalchemy==2.0.30
asyncpg==0.29.0
alembic==1.13.2

# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
httpx==0.27.0        # For fetching Cognito JWKS

# AWS SDK
boto3==1.34.131
botocore==1.34.131

# ML
scikit-learn==1.5.0
joblib==1.4.2
numpy==1.26.4

# Utilities
python-multipart==0.0.9
python-dateutil==2.9.0.post0
eval_type_backport==0.2.0
greenlet==3.0.3
twilio==9.0.0
xgboost
lightgbm
